
/*MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMW
 *MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMW
 *
 * / p o r t f o l i o
 *
 *MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMW
 *MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWM*/


/*
 *
 * CONTAINER
 *
 */

 section.container {
 	clear: both;
	margin-top: 100px;
	margin-left: -40px;
 }

/*
 *
 * ARTICLE
 *
 */

a.work {
 	display: block;
 	/* float: left; */
 	width: 29%; /* media query needed here */
 	margin:auto;
 	padding: 35px 0 35px 0;
 	text-align: center;
 	-webkit-transition: all 1s;
} a.work:nth-child(3n+2){
	padding-top: 40px;
} a.work:nth-child(2n+3){
	padding-top: 60px;
	padding-right: 30px;
	padding-left: 0;
} a.work:nth-child(5n+3){
	padding-top:0px;
	padding-left:30px;
}

a.work img {
 	display: block;
 	width: 125%; /* used to be 75% */
 	height: auto;
 	margin: auto;
 	border:20px ridge yellow;
 	box-shadow: 5px 5px 30px black;
 	/* padding-bottom: 10px; */
} caption {
 	text-align: center;
 	visibility: hidden;
 	display: none; /* should be display block */
 	padding-top: 15px;
 	-webkit-transition: all 1s;
} a.work:hover {
 	cursor: pointer;
 	z-index: 101;
 	-webkit-transition: all 1s;
} 


/* for mobile */
@media (max-width: 900px) {
	h1.home {
		display: none;
	}
}
