/*MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMW
 *MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMW
 *
 * TYPE 
 *
 *MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWMW
 *MWMWMWMWMWMWMWMWMWMWMWMWMWMWMWM*/



* {
	text-decoration: none;
}

body {
	font-size: 14px;
	font-family: "Work Sans", sans-serif;
}

a {
	color: #333;
}

h1 {
	font-weight: 500;
	font-size: 30px;
	line-height: 50px;
	letter-spacing: 1px;
}

h2 {
	font-size: 21px;
	line-height: 35px;
	font-style: italic;
	letter-spacing: 2px
}

h3,li {
	font-size: 16px;
	line-height: 19px;
	font-weight: 500; 
}

h4 {
	font-size: 22px;
	line-height: 35px;
	font-weight: 500;
	display: inline-block;
	border-bottom:4px solid #333332;
	margin-bottom: 15px;
}

caption {
	font-weight: bold;
}

p {
	font-size: 17px;
	line-height: 26px;
	width: 450px;
	margin-bottom: 26px;
} p a {
	display: inline-block;
	height: 16px;
	padding-bottom: 1px;
	border-bottom: 10px solid yellow;
} p a:hover {
	border-bottom: 10px solid yellow;
	background-color: yellow;
}

ul {
	list-style-type: none;
}

nav a:hover {
	background-color: yellow;
	cursor: pointer;
}

li a:hover {
	background-color: yellow;
	cursor: pointer;
}
