* {
	margin:0;
	padding: 0;
	text-decoration: none;
	font-weight: normal;
	color: black;
}

body {
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	background: antiquewhite;
	overflow-x: hidden;
}

h2 {
	font-weight: 400;
	font-size: 25px;
	line-height: 35px;
}

header {
	text-align: center;
	padding: 5vw 0vw;
} header h1 {
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	font-weight: 400;
	letter-spacing: -1px;
	margin-bottom: 100px;
} header h2 {
	max-width: 600px;
	display: block;
	margin: auto;
}

nav {
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 97vw;
	border: 10px solid black;
	background: white
} nav span {
	display: inline-block;
	background: white;
	border-left: 10px solid black;
	padding: 20px;
	float: left;
} nav span:first-child {
	background: black;
	color: white;
} nav span:last-child {
	border-right: 10px solid black;
} nav span:hover {
	background: black;
	color: white;
	cursor: pointer;
} nav div.nav-search {
	padding: 20px;
	background: white;
	border-left: 10px solid black;
	padding: 20px;
	float: left;
} nav i {
	font-size: 25px;
	padding: 20px;
	padding-left: 30px;
	float: right;
	display: block;
} div.nav-search em {
	font-style: normal;
	display: inline-block;
	float: left;
}

div.search {
	text-align: left;
	display: block;
	font-size: 40px;
	line-height: 50px;
	width: 70vw;
	background: white;
	border: 10px solid black;
	padding: 2vw;
	margin: auto;
	margin-bottom: 50px;
} div.search i {
	font-size: inherit;
	float: right;
} div.search span {
	display: block;
	float: left;
}


section {
	display: block;
	width: 36vw;
	float: left;
} section#right {
	margin-top: 15vw;
}

div.container {
	max-width: 100%;
	clear:both;
	padding: 0px 10vw;
}

p {
	max-width: 400px;
	text-align: left;
	background: black;
	color: white;
	padding: 50px;
	padding-bottom: 80px;
} article {
	padding: 30px;
	width:36vw;
	margin: auto;
} article img {
	max-width: 50vw;
	height:auto;
} article:nth-child(2n+1) p{
	color: black;
	background: white;
} #left article:nth-child(2n){
	margin-left: -10vw;
} #right article:nth-child(2n){
	margin-right: -10vw;
}


div.info {
	width: 80vw;
	position: relative;
	background: white;
	border: 10px solid black;
	clear: both;
	margin: auto;
}

div#more {
	top: -250px;
	z-index: 10;
	height: 230px;
} div#more div {
	display: inline-block;
	width: 28%;
	float: left;
	padding:10px;
	margin: 10px;
	text-align: center;
} div#more div h2 {
	display: inline;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
} div#more div span {
	display: block;
	margin-top:20px;
} div#more div:hover {
	background: antiquewhite;
	cursor: pointer;
}

div#contact {
	top: -200px;
	height: 250px;
} div#contact div {
	display: inline-block;
	width: 44%;
	float: left;
	padding:10px;
	margin: 10px;
	text-align: center;
} div#contact div h2 {
	display: inline;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
} div#contact div span {
	display: block;
	margin-top:20px;
}

