* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: black;
}

body {
	background-image: url('weeds.jpg');
	background-size: cover;
	color: black;
	font-family: Helvetica, sans-serif;
	overflow-x: hidden;
	background-size: 100% auto;
	background-attachment: fixed;
	padding-bottom: 44px;
}

h1 {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	transform: scale(1,2.5) skew(40deg,5deg);
	line-height: 44px;
}

h2 {
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	transform: scale(1.5,2.5) skew(40deg,2deg);
	line-height: 4px;
	height: 18px;
	padding-top: 28px;
}

p {
	width: 400px;
	margin: auto;
	margin-bottom: 22px;
	font-size: 18px;
	line-height: 22px;
}

ul {
	width: 400px;
	margin: auto;
	padding-left: 15px;
	font-size: 18px;
	line-height: 22px;
	list-style-type: square;
}

li {
	padding-bottom: 5px;
}

.xtra-top {
	padding-top: 33px;
}

.xtra-bottom {
	padding-bottom: 15px;
}

.friend {
	text-align: center;
	margin-bottom: 0;
}

a:hover, a:active {
	color: oldlace;
	background-color: black;
}

.button {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	margin-right: 6px;
	border: 1px solid black;
}

div#container {
	background-color: oldlace;
	width: 450px;
	overflow-x: hidden;
	position: absolute;
	left: 0;
	top: 0;

}

#first-img {
	display: none;
}

#buffer {
	margin-top: 25%;
}

@media only screen and (max-width:1000px) {

	#first-img {
		display: inline-block;
	}

	#buffer {
		margin-top: 5%;
	}

	div#container {
		width: 100vw;
		position: relative;
		margin: auto;
	}

	p {
		font-size: 16px;
		line-height: 20px;
		width: 85vw;
	}

	ul {
		font-size: 16px;
		line-height: 20px;
		width: 85vw;
	}

	h2 {
		font-size: 13px;
		margin-left: -10px;
	}

	.button {
		display: block;
		text-decoration: none;
		margin-right: 0;
		margin-top: 10px;
		padding: 5px 10px;
	}


}
