* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 1.25vw;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	line-height: 2rem;
	background-color: #ece2cf;
}

div#image {
	position: fixed;
	margin: auto;
	width: 20vw;
	left: 40vw;
	top: 20vh;
	z-index: 1;
} div#image img {
	width: 100%;
	height: auto;
}

div#content {
	position: absolute;
	width: 40vw;
	left: 25vw;
	top: 100vh;
	margin-bottom: 5vh;
	z-index: 30;
	color: #696969;
	background-color: white;
	padding: 5vw;
	border-radius: .5rem;
	box-shadow: 1rem 2rem 10rem tomato;
}

div#content div {
	border-bottom: 1px solid lightblue;
}

div#intro-para {
	padding-bottom: 2rem;
}

p {
	margin-bottom: 1rem;
}

a {
	color: blue;
}
a:hover {
	cursor: pointer;
	color: lightblue;
}

div#links {
	display: flex;
	flex-direction: row;
	padding-top: 2rem;
	padding-bottom: 4rem;
}

ol li {
	padding-left: .5rem;
}

div#links ol {
	display: block;
} div#links ol#left {
	width: 30%;
}


ul {
	list-style: none;
} ul li::before{
	content: "🦋";
	font-size: .95rem;
	padding-right: 1rem;
}

@media only screen and (max-width:1000px) {

	* {
		font-size: 15px;
	}

	div#content {
		width: 70vw;
		left: 10vw;
	}

}

@media only screen and (max-width:500px) {

	* {
		font-size: 14px;
	}

	body {
		line-height: 1.85rem;
	}

	div#image {
		width: 60vw;
		left: 20vw;
		top: 15vh;
	}

	div#content {
		width: 80vw;
		padding: 7vw;
		left: 3vw;
	}

	div#links {
		display: block;
		padding: 2rem 1rem;
	}
	div#links ol#left {
		padding-bottom: 1rem;

	}

}