* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Karla", Helvetica, serif;
	color: #454a4e; /* light gray text color */
	font-size: 1.5vw; /* font size tied to viewport width */
	line-height: 1.75em; /* ems for everything else, so everything tied to vw */
	overflow-x:hidden;
	/* background-color: mistyrose; */
	background: -webkit-linear-gradient(mistyrose, pink, lightpink, coral) fixed;
} /* scrollbar lmao */
body::-webkit-scrollbar-track { /* scrollbar styling lol */
	background: -webkit-linear-gradient(mistyrose, pink, lightpink, coral);
} body::-webkit-scrollbar {
	background: -webkit-linear-gradient(mistyrose, pink, lightpink, coral);
	width: .5em;
} body::-webkit-scrollbar-thumb {
	background-color: yellow;
}

.no-scroll {
	overflow: hidden;
}

/* TYPE */
a {
	color: black;
	text-decoration: none;
	padding-bottom: .1em;
	border-bottom: .1em solid black;
} a:hover{
	border-bottom: 0;
	background: black;
	color: white;
}

p, ol li, h1 {
	padding-bottom: 1em;
}

h1 {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: normal;
}

ul li {
	font-size: 1em;
	padding-bottom: .5em;
	list-style-type: none;
} ul {
	float: left;
}

h2 {
	font-size: 1.75em;
	line-height: 1.2em;
	font-family: "Yatra One", sans-serif;
	padding-bottom: .5em;
	text-shadow: none;
	text-decoration: none;
}

span.date {
	font-size: .5em;
	font-family: "Karla", sans-serif;
	padding-left: 1em;
	text-decoration: none;
	text-shadow: none;
}

/* IMAGES LAYOUT */

.work {
	clear:both;
	width: 98vw;
	margin: auto;
	margin-top: 80vh;
	display: block;
} .work article { /* grid of images */
	text-align: center;
	float: left;
    width: 45vw;
    margin: 2vw;
    /* max-height: 200px; */
    transition: all .25s;
} article img {
	width: 100%;
	height: auto;
} article:hover {
	cursor: pointer;
} 

.shadow { /* adding to square stuff */
	box-shadow: .25em .25em 0px rgba(0,0,0,.5);
}

/* POST-ITS */
.postit {
	position: fixed;
	background-color: yellow;
	color: red;
	font-family: "Yatra One", sans serif;
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 2em;
	box-shadow: .25em .25em 0px rgba(255,0,0,.5);
} .postit a{
	color: red;
	border-bottom:1px solid red;
} .postit a:hover {
	color: yellow;
} .postit:hover {
} 

/* draggable */
.draggable:hover {
	cursor: grab;
	cursor: -webkit-grab;
}
.draggable.is-pointer-down {
	cursor:grabbing;
	cursor:-webkit-grabbing;
	z-index: 33;
} .draggable.is-dragging {
	cursor: grabbing;
	cursor:-webkit-grabbing;
	z-index: 33; 
	opacity: 0.7; 
}
/* close on click */
 .close-on-click {

 }


span.ex{ /* x out button */
	font-family: "Karla", sans-serif;
	transition: all .25s;
	line-height: 0;
	display: block;
	position: relative;
	text-align: right;
	top: -.75em;
	right:-1em;
} span.ex:hover {
	color: blue;
	cursor: pointer;
}

.intro { /* micro bio post-it */
	width: 16em;
	top:1vw;
	left:17vw;
	z-index: 2;
}

.info { /* contact info post-it */
	width: 19em;
	top: 18vw;
	left: 40vw;
	z-index: 1;
} ul.media { /* on contact post-it */
	width: 11vw;
} 

.imlooking { /* looking for work post-it */
	background: -webkit-linear-gradient(red,coral); /*that's a green */
	text-align: center;
	color: white;
	height: 5em;
	line-height: 5em;
	padding: 5em 2em;
	top: 1vw;
	right: 5vw;
	border-radius: 50%;
	z-index: 5;
	box-shadow: none;
} .imlooking:hover {
	cursor: pointer;
}

.haha { /* i can set type */
	text-align: center;
	background-color: #00c100; 
	color: white;
	bottom: 38vh;
	width: 39em;
	height: 2em;
	left: 4vw;
	z-index: 3;
}

.seriously {
	font-family: "Karla", sans-serif;
	background-color: #ff44c4; /*stupid pink */
	color: white;
	z-index: 4;
	width: 6em;
	height: 5em;
	bottom:10vh;
	left: 18vw;
} .seriously a{
	color: white;
	border-color: white;
} .seriously a:hover {
	cursor: pointer;
	color: white;
}

/* MODAL STUFF */

.modal-ex { /* x button on modals */
	display: none;
	transition: all .25s;
	position: fixed;
	font-size: 2em;
	line-height: .5em;
	border-radius: 50%;
	height: .6em;
	padding:.4em;
	background-color: rgb(0,112,255);
	color: yellow;
	top: 1.5vh;
	right: 5vw;
	z-index: 105;
} .modal-ex:hover {
	color: rgb(0,112,255);
	background-color: yellow;
	cursor: pointer;
}

div.screen { /* dims background */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100vw;
	height: 115vh;
	display: none;
	background-color: rgba(240,255,39,.66); /* yellow */
}

.caption { /* modal box */
	font-weight: normal;
	display: none;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 3em;
	margin-top: 2em;
	width: 40vw;
	height: auto;
	min-height: 35vh;
	max-height: 67vh;
	top: 1.5vh;
	left: 26vw;
	background-color: white;
	z-index: 100;
	box-shadow: .25em .25em 0px rgba(255,0,0,.5);
} .caption img {
	width: 100%;
	padding-bottom: 1em;
	height: auto;
} .caption::-webkit-scrollbar-track { /* scrollbar styling lol */
	background-color: white;
} .caption::-webkit-scrollbar {
	width: .5em;
	background-color: white;
} .caption::-webkit-scrollbar-thumb {
	background-color: yellow;
}

/*big caption */
.big-mode {
	width: 70vw;
	height: 70vh;
	left: 5vw;
}

/* SIZE ADJUSTMENTS YOU FREEK */

img.small {
	width: 70%;
}
img.smaller {
	width: 50%;
}


/* MORE INFO */

div.more-info{
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 1em;
	z-index: 7;
} .box { /* old css for a box link */
	cursor: pointer;
	transition: all .25s;
	background-color: rgb(0,112,255); /* nice blue */
	color: white;
	padding: .5em;
	border-bottom: 0;
	box-shadow: .25em .25em 0 rgba(0,112,255, .5);
} .box:hover {
	position: relative;
	background-color: rgb(0,97,240);
	box-shadow: none;
	top: .25em;
	left: .25em;
}


/* ROTATE */

@-webkit-keyframes rotate {
  from {
  	transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  50% {

  }
}
.rotate
{
	animation: rotate 10s linear infinite;
	-webkit-animation: rotate 10s linear infinite;
 }

 .mobile-info{ /* intro info for mobile */
 	display: none; /*hidden until asked for ;) */
 	background-color: white;
 	width: 75vw;
 	margin: auto;
 	margin-top: 3vw;
 	padding: 2em;
 	box-shadow: .25em .25em 0px rgba(255,0,0,.5);
 	clear: both;
 }

 .top { /* top button, taken from modal-ex */
	display: none;
	position: fixed;
	color: yellow;
	bottom: 3vh;
	left: 2vw;
	z-index: 40;
 }
 /* MOBILE !  ! */

@media only screen /* smallest */
	and (max-device-width : 480px) {
	body {/* pump up the size */
  		font-size: 4.5vw;
  	}

  	.postit { /* bye post-its */
  		display: none;
  	} .more-info { /* bye info button */
  		display: none;
  	} 

  	.mobile-info { /* display intro info */
  		display: block;
  	} ul.media {
  		width: 22vw; /* column adjustment */
  	}

  	/* Single-Column Work */
  	.work {
  		margin-top: 5vw; /* space now occupied by
  							.mobile-info */
  	}
	.work article { /* grid of images */
		float: inherit;
	    width: 90vw;
	    margin: 2vw;
	    padding: 1vw;
	} 

	/* Caption */

	.caption {
		padding: 2em;
		width: 71vw;
		left: 5vw;
		max-height: 71vh;
	}

}

@media only screen /* a lil smaller */
	and (max-device-width : 568px) {
	body {/* pump up the size */
  		font-size: 4.5vw;
  	}

  	.postit { /* bye post-its */
  		display: none;
  	} .more-info { /* bye info button */
  		display: none;
  	} 

  	.mobile-info { /* display intro info */
  		display: block;
  	} ul.media {
  		width: 22vw; /* column adjustment */
  	}

  	/* Single-Column Work */
  	.work {
  		margin-top: 5vw; /* space now occupied by
  							.mobile-info */
  	}
	.work article { /* grid of images */
		float: inherit;
	    width: 90vw;
	    margin: 2vw;
	    padding: 1vw;
	} 

	/* Caption */

	.caption {
		padding: 2em;
		width: 71vw;
		left: 5vw;
		max-height: 71vh;
	}

}

@media only screen /* gotta catch em all */
	and (max-device-width : 667px) {

	body {/* pump up the size */
  		font-size: 4.5vw;
  	}

  	.postit { /* bye post-its */
  		display: none;
  	} .more-info { /* bye info button */
  		display: none;
  	} 

  	.mobile-info { /* display intro info */
  		display: block;
  	} ul.media {
  		width: 22vw; /* column adjustment */
  	}

  	/* Single-Column Work */
  	.work {
  		margin-top: 5vw; /* space now occupied by
  							.mobile-info */
  	}
	.work article { /* grid of images */
		float: inherit;
	    width: 90vw;
	    margin: 2vw;
	    padding: 1vw;
	} 

	/* Caption */

	.caption {
		padding: 2em;
		width: 71vw;
		left: 5vw;
		max-height: 71vh;
	}

}
@media only screen /* biggest */
	and (max-device-width: 768px) {

	body {/* pump up the size */
  		font-size: 4.5vw;
  	}

  	.postit { /* bye post-its */
  		display: none;
  	} .more-info { /* bye info button */
  		display: none;
  	} 

  	.mobile-info { /* display intro info */
  		display: block;
  	} ul.media {
  		width: 22vw; /* column adjustment */
  	}

  	/* Single-Column Work */
  	.work {
  		margin-top: 5vw; /* space now occupied by
  							.mobile-info */
  	}
	.work article { /* grid of images */
		float: inherit;
	    width: 90vw;
	    margin: 2vw;
	    padding: 1vw;
	} 

	/* Caption */

	.caption {
		padding: 2em;
		width: 71vw;
		left: 5vw;
		max-height: 71vh;
	}

}

@media only screen /* small desktop */
	and (max-width: 768px)
  {

  	/* Type */

  	body {
  		font-size: 4.5vw;
  	}

  	.postit { /* bye post-its */
  		display: none;
  	} .more-info { /* bye info button */
  		display: none;
  	} 

  	.mobile-info { /* display intro info */
  		display: block;
  	} ul.media {
  		width: 22vw; /* column adjustment */
  	}
  	.top { /* scroll top button */
  	}

  	/* Single-Column Work */
  	.work {
  		margin-top: 5vw; /* space now occupied by
  							.mobile-info */
  	}
	.work article { /* grid of images */
		float: inherit;
	    width: 90vw;
	    margin: 2vw;
	    padding: 1vw;
	} 

	/* Caption */

	.caption {
		padding: 2em;
		width: 71vw;
		left: 5vw;
		max-height: 71vh;
	}

} 
