@font-face {
	font-family: "IPAex Mincho";
	src: url("http://cath.land/ipaexm.ttf");
}

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: white;
}

body {
	background-color: black;
	color: white;
	font-family: Helvetica, sans-serif;
	overflow-x: hidden;
	background-size: 100% auto;
	background-attachment: fixed;
	padding-bottom: 44px;
}

h1 {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	transform: scale(1,2.5) skew(40deg,5deg);
	line-height: 44px;
}

h2 {
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	transform: scale(1.5,2.5) skew(40deg,2deg);
	line-height: 4px;
	height: 18px;
	padding-top: 28px;
}

p {
	width: 400px;
	margin: auto;
	margin-bottom: 22px;
	font-size: 18px;
	line-height: 22px;
}

ul {
	width: 400px;
	margin: auto;
	font-size: 18px;
	line-height: 22px;
	list-style-type: disc;
}

li {
	padding-bottom: 10px;
}

.xtra-top {
	padding-top: 33px;
}

.xtra-bottom {
	padding-bottom: 15px;
}

a:hover, a:active {
	color: black;
	background-color: white;
}

.button {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	margin-right: 6px;
	border: 1px solid white;
}

@media only screen and (max-width:1000px) {

	

	p {
		font-size: 16px;
		line-height: 20px;
		width: 85vw;
	}

	ul {
		font-size: 16px;
		line-height: 20px;
		width: 85vw;
	}

	h2 {
		font-size: 13px;
		margin-left: -10px;
	}

	.button {
		display: block;
		text-decoration: none;
		margin-right: 0;
		margin-top: 10px;
		padding: 5px 10px;
	}


}