* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-weight: normal;
}

body {
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
	color: bisque;
	padding-bottom: 1px;
	border-bottom: 1px solid bisque;
	text-shadow: 2px 2px 20px green;
} a:hover {
	border-bottom: 0;
	text-shadow: 2px 2px 20px salmon;
}

.nest {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: url("IMG_1243.JPG") fixed;
	background-size: cover;
	background-position: center;
}

.nest-two-a {
	width: 80vw;
	height: 80vh;
	background: url("IMG_1245.JPG") fixed;
	background-size: cover;
	background-position: center;
	mix-blend-mode: lighten;
	margin: 4vh auto;
	filter: blur(10px);
}

.nest-two-b {
	width: 100vw;
	height: 100vh;
	background: url("IMG_1267.JPG") fixed;
	background-size: cover;
	background-position: center;
	mix-blend-mode: lighten;
	position: absolute;
	top: 0;
	left:0;
}

div#spinner {
  height: 100vh;
  position: fixed;
  z-index: 15;
  font-family: "Yatra One";
  font-style: italic;
  font-size: 4vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100vw;
  overflow: hidden;
  color: white;
  letter-spacing: 3vw;
  transform: scale(1.5);
} #spinner svg {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {}
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 99;
}

.about-button{
	width: 5vw;
	height: 5vw;
	background-color: lime;
	border-radius: 50%;
	box-shadow: 0 0 20px 20px lime;
	transition: all 1s;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 10px lime;
	font-weight: bold;
	text-align: center;
} .about-button:hover {
	cursor: url('worm.png') 25 25, crosshair;
	background-color: yellow;
	box-shadow: 0 0 50px 50px yellow;	
	/*box-shadow: inset 0 0 20px 20px goldenrod;*/
}

.about {

	position: absolute;
	width: 100vw;
	height: 100vw;
	background: url("IMG_1303.JPG") fixed;
	background-size: cover;
	z-index: 100;
	text-align: center;
	padding: 4.25vw;
	border-radius: 50%;
	box-shadow: 0px 0px 20px lime;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

} .about:hover {
	cursor: url('worm.png') 25 25, crosshair;
} 

.about-text {
	width: 20vw;
	margin-top: -12vw;
}

.highlight {
	/*background-color: rgba(0,255,0,.75);*/
	font-weight: bold;
	/*padding: 0px 2px;*/
	/*border-radius: 4px;*/
	line-height: 25px;
	text-shadow: 2px 2px 15px green;
	color: bisque;
}

div#spinner-mobile {
	  display: none;
}

@media only screen and (max-width: 760px) {

  div#spinner { display: none}

  div#spinner-mobile {
	  height: 100vh;
	  position: fixed;
	  z-index: 15;
	  font-family: "Yatra One";
	  font-style: italic;
	  font-size: 14vw;

	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: center;

	  width: 100vw;
	  overflow: hidden;
	  color: white;
	  letter-spacing: 12.5vw;
	  transform: scale(.75);
	  z-index: 100;
	} #spinner-mobile svg {
	  animation: spin 10s linear infinite;
	}

	div.visibility-check {
		height: 20vw;
		width: 20vw;
		background-color: red;
		z-index: 101;
		position: absolute;
	}
}
