* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	/* color: #333332; */
	color: white;
}

html, body {
  height: 100%;
  max-height: 100%;
  font-weight:normal;
}

body {
	font-size: 30px;
	font-family: "Helvetica";
	background:url('tropics-01.png') no-repeat fixed center center;
	background-size: cover;
	overflow: hidden;
}

h1 {
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	text-shadow: 2px 2px 5px darkgreen;
	letter-spacing: 1px;
}

h2 {
	font-size: 20px;
	text-shadow: 2px 2px 5px darkgreen;
	letter-spacing: 1px;
}

/*
 *
 * HEADER
 *
 */

div.header {
	width: 541px;
	margin: auto;
	margin-top: 28vh;
} div.header div {
	float: right;
} div.header div div {
	margin-top: 15px;
	text-align: right;
	width: 111px;
	margin-right: 30px;
} div.header div.intro {
	width: 400px;
	margin: auto;
	padding-bottom: 10px;
	/* border-bottom:10px solid #333; */
} div.header h2 {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
	padding-right: 10px;
} h2.last {
	padding-right: 0px;
} div.header h2 a:hover {
	padding-bottom: 2px;
	border-bottom: 4px solid white;
	cursor: pointer;
}





