* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
}

html, body {
  height: 100%;
  max-height: 100%;
  font-weight:normal;
}

body {	
	background:url('tumblr.jpg') no-repeat fixed center center;
	background-size: cover;
}

h1 {
	font-weight: 500;
	font-family: "Halis R";
	font-size: 45px; /* adjustments req for lg screens */
	line-height: 73px; /* ditto */
	text-shadow: 2px 2px 5px aqua;
	letter-spacing: 1px;
}

div.header {
	width: 75vw;
	margin: auto;
	margin-top: 5vw;
	margin-bottom: 10vw;
}

a {
	transition: all 1s;
	border-bottom: 11px solid wheat;
} a:hover {
	background-color: wheat;
	color: honeydew;
	cursor: pointer;
}




