    
<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {

       var $grid = $('.container').masonry({
            itemSelector : ".work",
            gutter: 70,
            percentPosition: true,
        },
        function() { $('.container').masonry({ appendedContent: $(this) }); }
        );

       $grid.imagesLoaded( function() {
          $grid.masonry('layout');
        });

        $(".right").hover(function() {
            $("nav").slideToggle("slow");
        });

    });
    </script>