    
<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
    <script type="text/javascript">
    $(window).onload(function () {
        $('.container').masonry({
            itemSelector : ".work",
            gutter: 70,
            percentPosition: true,
        },
        function() { $('.container').masonry({ appendedContent: $(this) }); }
        );

        $(".right").hover(function() {
            $("nav").slideToggle("slow");
        });

    });
    </script>