<html>
<head>
	<title>c l s</title>
	<meta name="description" content="website of catherine leigh schmidt">
	<link rel='shortcut icon' type='image/x-icon' href='favicon2.ico' />
	<meta name="keywords" content="graphic design">
	<meta name="author" content="catherine leigh schmidt">
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="/css/type.css">
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/misc-page.css">
	<link rel="stylesheet" href="/css/media-queries.css">


	{% include image-js.html %}
</head>
<body>

{% include header-pofo.html %}

<section class="content">

	<div class="words">

		{{ content }}

	</div>

</section>
</div>

{% include nav-mobile.html %}

{% include footer.html %}

</body>
</html>

