<html>
<head>
	<link rel="stylesheet" href="/style.css">
	<link rel='shortcut icon' type='image/x-icon' href='favicon2.ico' />
		<title>cls</title>
		{% include top-js.html %}
</head>
<body>
<div class="wrapper">
	<div id="left" class="rotate">

		catherine leigh schmidt

	</div>
	<div id="right" class="rotate">

		last updated {{ site.last_updated }}

	</div>

	<div class="page-title">
		<h1>{{ page.title }}</h1>
		{% if page.caption %}
			<figcaption>{{ page.caption }}</figcaption>
		{% endif %}
	</div>
	<section class="col1 page">

		{{ content }}

	</section>
</div>

{% include footer.html %}

</body>
</html>