<html>
<head>
	<title>c l s</title>
	<meta name="description" content="website of catherine leigh schmidt">
	<link rel='shortcut icon' type='image/x-icon' href='favicon2.ico' />
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:500' rel='stylesheet' type='text/css'>
	<meta name="keywords" content="graphic design">
	<meta name="author" content="catherine leigh schmidt">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{site.baseurl}}css/type.css">
	<link rel="stylesheet" href="{{site.baseurl}}css/global.css">
	<link rel="stylesheet" href="{{site.baseurl}}css/portfolio.css">
	<link rel="stylesheet" href="{{site.baseurl}}css/media-queries.css">

	{% include masonry-js.html %}
</head>
<body>

	{% include header.html %}

	{{ content }}

	{% include nav-mobile.html %}

	{% include footer.html %}

</body>
</html>